<form class="form" [formGroup]="channelForm" (ngSubmit)="addValue()">
<div class="row">
<div class="row">
 <div class="col-2">   
<label>channelName</label>
</div>
<div class="col-4">
<select class="form-control" (change)="channelSelect($event)" name="channelName" formControlName="channelName">
    <option value="">---select something---</option>
    <option [value]="obj" *ngFor="let obj of channels" >{{obj}}</option>
</select>
</div>
</div>
<div class="row">
<div class="col-2">
<label>channelType</label>
</div>
<div class="col-4">
<select class="form-control" name="channelType" formControlName="channelType">
    <option value="">---select something---</option>
    <option [value]="obj.type" *ngFor="let obj of channel"  >{{obj.type}}</option>
</select>
</div>
</div>
<div class="row">
    <div class="col-6">
        <input type="text" class="form-control" name="userName" placeholder="userName" formControlName="userName">
    </div> 
</div>
<div class="row">
    <div class="col-6">
        <input type="password" class="form-control" name="password" placeholder="password" formControlName="password">
    </div> 
</div>
<div class="row">
    <div class="col">
        <button  class="btn btn-primary" >Save</button>
    </div> 
</div>
</div>
</form>

<app-channel-config-list [channelList]="formValue" ></app-channel-config-list>
