<form  class="form"[formGroup]="userForm" (ngSubmit)="submit()">
    <div class="row" >
        <div class="col">
            <input type="text" formControlName="name" name="name" placeholder="Name">
        </div>
        <div class="col">
            <input type="text" formControlName="userName" name="userName" placeholder="userName">
        </div>
    </div>
    <div class="row" formGroupName="address">
            <div class="col">
                <input type="text" formControlName="contact" name="contact" placeholder="contact">
            </div>
            <div class="col">
                <input type="text"  formControlName="email" name="email" placeholder="email">
            </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary">Save</button>
        </div>
    </div>
</form>
